 @import "bootstrap";
 @import "bootstrap-sprockets";

.center.jumbotron {
  margin-top: 200px;
  background-color: #8b928b;
  opacity: 0.5;
  position: fixed;
  li {
    opacity: 1.0;
    list-style: none;
    width: 250px;
    a {
      padding-left: 75px;
    }
  }
}

.center.jumbotron li {
  list-style: none;
  width: 250px;
  a {
    padding-left: 75px;
  }
}

body .container {
  background: url("background.jpg")no-repeat;
  background-size:100%;
  height: 1856px;
  width: 100%;
  display:block;
  padding:0 !important;
  margin:0;
}

.main-container {
  background: #fff;
  padding: 10px;
  margin-left: -10px;
}
.main-container .header-container {
  width: 100%;
  height: 100%;
  margin-top: -10px;
  height: 55px;
  position: fixed;
  overflow: hidden;
  background: #fff;
  background-color: rgba(247,247,247,0.96);
  border-bottom: 3px solid #1ccee0;
}

.main-container .header-container .header-right {
  float: right;
}

.main-container .header-container .header-right .user-header {
  margin-right: 50px;
  font-size: 16px;
}

.main-container .header-container .header-right .user-header .avatar {
  border-radius: 50%;
  border: 1px solid #b3b3b3;
}

.main-container .body-container {
  position: absolute;
  bottom: 0;
  right: 0;
  background:url("background.jpg")no-repeat;
  background-size: 100%;
  width: 100%;
  height: 626px;
  display:block;
}

.main-container .body-container .body-left-panel .searchbox {
  width: 400px;
  height: 200px;
  margin-left: 450px;
  margin-top: 100px;
  background-color: #464d52;
  opacity: 0.8;
}
.main-container .body-container .body-left-panel .search {
  margin-top: 60px;
}

.main-container .body-container .body-left-panel .searchbox .search-btn {
  width: 100px;
  margin-top: 10px;
  margin-left: 130px;
}
