 @import "bootstrap";
 @import "bootstrap-sprockets";

.center.jumbotron {
  margin-top: 200px;
  background-color: #8b928b;
  opacity: 0.5;
  position: fixed;
  li {
    opacity: 1.0;
    list-style: none;
    width: 250px;
    a {
      padding-left: 75px;
    }
  }
}

body .container {
  background: url("background.jpg")no-repeat;
  background-size:100%;
  height: 1856px;
  width: 100%;
  display:block;
  padding:0 !important;
  margin:0;
}
